
@font-face {
    src: local('font/SutonnyMJ-Bold.ttf');
}
/*font-family: 'Poppins', sans-serif;*/
*{
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Inter', sans-serif!important;
}

.tab-img{
    width: 550px;
    height: 370px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #EF4D4D;
    transition: 0.6s all ease;
}
.hero-section{
    background-color:  #091423;
    height: 770px;
}
.navbar-brand img{
    width: 40%;
}
.btn-custom{
    color: #fff;
    background: #EF4D4D;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    transition: 0.6s all ease;
}
.btn-custom:hover{
    color: #EF4D4D;
    background: #fff;
    border: none;
    transition: 0.6s all ease;
}
.hero-content h1{
    font-family: 'Inter', sans-serif!important;
    font-size: 55px;
    line-height: 75px;
    font-weight: 700;
}
.hero-content p{
    font-size: 16px;
    line-height: 28px;
}
.hero-content a{
    font-size: 20px;
    line-height: 30px;
}
.hero-content img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.hero-img{
    position: absolute;
    left: 56%;
    top: 37%;
}
.hero-content ul{
    display: flex;
    font-size: 32px;
    line-height: 35px;
}
.hero-content ul li{
    list-style: none;
}
/*Feature part*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #EF4D4D;;
}

.feature h1{
    color: #091423;
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
}
.feature p{
    font-size: 14px;
    line-height: 25px;
}
.menu-style{
    font-size: 16px;
    line-height: 22px;
    color:  #091423;
    font-weight: 700;
}
.menu-style:hover{
    background-color: #EF4D4D;
    color: #fff!important;
    border-radius: 12px;
    box-shadow: 6px 6px 20px rgba(84, 116, 164, 0.1);
    transition: 0.6s all ease;
}
.li-active{
    background-color: #EF4D4D!important;
    color: #fff!important;
    border-radius: 12px!important;
    box-shadow: 6px 6px 20px rgba(84, 116, 164, 0.1);
}
.feature-content{
    background: #FFFFFF;
    box-shadow: 16px 16px 36px rgba(12, 30, 53, 0.05);
    border-radius: 16px;
}
.feature-content img{
    border-radius: 10px;
}
.feature-content h2{
    font-size: 32px;
    line-height: 35px;
    font-weight: 600;
}
.feature-content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.feature-content ul li{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #283F5E;
}
.icon-f{
    margin-right: 10px;
    color:  #1A5AAD;
    font-size: 25px;
}
.feature-part h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.icon-f-2{
    margin-right: 5px;
    color:  #1A5AAD;
}
.feature-part ul li{
    font-size: 11px;
    line-height: 15px;
    font-weight: 500;
    color: #283F5E;
}
.feature-part ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.del{
    font-size: 14px;
    font-weight: 200;
}
.feature-part h5{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #283F5E;
}
/*Project Part*/
.project-content h1{
    font-size: 35px;
    line-height: 55px;
    font-weight: 700;
}
.project-content p{
    font-size: 14px;
    line-height: 25px;
}



